<div class="card">
<h4>Edit Project:</h4>

<div>
<label>Name: </label>
<input [(ngModel)]="selectedProject.name">

</div>

<div>
<label>Details: </label>
<input [(ngModel)]="selectedProject.manager">

</div>

<div>
<label>Manager: </label>
<input [(ngModel)]="selectedProject.details">

</div>

<div>
<label>Goal: </label>
<input [(ngModel)]="selectedProject.goal">

</div>

<div>
<label>Money Currently Raised: </label>
<input [(ngModel)]="selectedProject.moneyraised">

</div>

<div>
<label>Perks of helping: </label>
<input [(ngModel)]="selectedProject.reward">

</div>

<div>
<label>Type: </label>
<select #newType [(ngModel)]="selectedProject.type">
  <option value="project" selected="selected">Project</option>
  <option value="product">Product</option>
  <option value="charity">Charity</option>
</select>
</div>
<div>
<button (click)="beginUpdatingThisProject(selectedProject)">Update</button>

<button (click)="beginDeletingProject(selectedProject)">Delete</button>
</div>
</div>
