<h4>Edit Project:</h4>

<label>Name: </label>
<input [(ngModel)]="selectedProject.name">
<br>

<label>Details: </label>
<input [(ngModel)]="selectedProject.manager">
<br>

<label>Manager: </label>
<input [(ngModel)]="selectedProject.details">
<br>

<label>Goal: </label>
<input [(ngModel)]="selectedProject.goal">
<br>

<label>Money Currently Raised: </label>
<input [(ngModel)]="selectedProject.moneyraised">
<br>

<label>Perks of helping: </label>
<input [(ngModel)]="selectedProject.reward">
<br>

<label>Type: </label>
<select #newType [(ngModel)]="selectedProject.type">
  <option value="project" selected="selected">Project</option>
  <option value="product">Product</option>
  <option value="charity">Charity</option>
</select>
<hr>
<button (click)="beginUpdatingThisProject(selectedProject)">Update</button>

<button (click)="beginDeletingProject(selectedProject)">Delete</button>
